<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Assets/StaticImages/header-logo.ico")" />
    <title>Login - Bhatpara Municipality Hall Booking</title>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/css/Auth.css")" asp-append-version="true" />
</head>
<body>    
    @RenderBody()    
    <script src="@Url.Content("~/js/jquery.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/bootstrap.bundle.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/Scripts/Global.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/Scripts/Auth.js")" asp-append-version="true"></script>
</body>
</html>
